[submodule "ndk/ofm"]
	path = ndk/ofm
	url = git@github.com:CESNET/ofm.git
[submodule "ndk/cards/cyclone-v-gx-startkit"]
	path = ndk/cards/cyclone-v-gx-startkit
	url = git@github.com:walliv/ndk-cyclone-v-gx-startkit.git
[submodule "ndk/cards/agi-fh400g"]
	path = ndk/cards/agi-fh400g
	url = git@github.com:CESNET/ndk-card-agi-fh400g.git
[submodule "ndk/modules/ndk-mod-dma-medusa"]
	path = ndk/modules/ndk-mod-dma-medusa
	url = git@github.com:CESNET/ndk-mod-dma-medusa.git
[submodule "ndk/core"]
	path = ndk/core
	url = git@github.com:CESNET/ndk-core.git
[submodule "ndk/cards/dk-dev-agi027res"]
	path = ndk/cards/dk-dev-agi027res
	url = git@github.com:CESNET/ndk-card-dk-dev-agi027res.git
[submodule "ndk/cards/dk-dev-1sdx-p"]
	path = ndk/cards/dk-dev-1sdx-p
	url = git@github.com:CESNET/ndk-card-dk-dev-1sdx-p.git
[submodule "ndk/cards/fb4cgg3"]
	path = ndk/cards/fb4cgg3
	url = git@github.com:CESNET/ndk-card-fb4cgg3.git
[submodule "ndk/cards/fb2cghh"]
	path = ndk/cards/fb2cghh
	url = git@github.com:CESNET/ndk-card-fb2cghh.git
