[submodule "ndk/ofm"]
	path = ndk/ofm
	url = https://github.com/CESNET/ofm.git
[submodule "ndk/cards/cyclone-v-gx-startkit"]
	path = ndk/cards/cyclone-v-gx-startkit
	url = https://github.com/xkrizd01/ndk-cyclone-v-gx-startkit.git
